heading{
    font-size: "48px"
}
page1{
    background-color: coral;
}
page2{
    background-color: blue;
}
page3{
    background-color: plum;
}
page4{  
    background: palegoldenrod ;
}
page5{
    background-color: palevioletred ;
}
